<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Emma</title>
<link href="reset.css" rel="stylesheet" type="text/css">

</head>

<body>
<h1>Tasty recipe</h1>
<p> All in one bite</p>

<div class="menu">
	<nav>
	 <ul>
	  <li><a class="active" href="index.html">Home</a></li>
	  <li><a href="recipe.html">Pancakes</a></li>
	  <li><a href="recipe2.html">Meatballs</a></li>
	  <li><a href="calendar.html">Calendar</a></li>
	  <li><a href="login-page.php">Login</a></li>
	</ul>
	</nav>

	<link href="reset.css" rel="stylesheet" type="text/css">
</div>

<section>
	<h2>WELCOME</h2>
	<p>
		So far you can only find two recipies. Fret not! More will come. Please do take a look at the calendar i which you can find what to cook every other special date!

		CLICK ON THE CALENDAR-LINK ABOVE!!
 </p>
</section>

</body>
</html>